
<div class="container-all-about">

    <div class="container-about">
        <h3>
            ¿Qué es la IEEE Computer Society?
        </h3>

        <p>
            Con la participación de ingenieros informáticos, científicos, académicos y profesionales de la industria de todas las áreas de la informática, la IEEE Computer Society (CS) establece el estándar para la educación y el compromiso que alimenta el continuo avance tecnológico mundial. A través de conferencias, publicaciones y programas, y reuniendo a los líderes de la informática y la ingeniería en cada fase de su carrera para el diálogo, el debate y la colaboración, IEEE CS faculta, da forma y guía el futuro no sólo de sus miembros, sino de la industria en general, permitiendo nuevas oportunidades para servir mejor a nuestro mundo.
        <p>
    </div>

    <div class="container-section">
        <div class="container-vision-mision">
            <div class="container-text">
                <h3>Misión</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur sequi nam aperiam corporis cum quia excepturi aliquid, dolor ab iste atque aut blanditiis enim! Libero nam qui voluptates tempore.
                </p>
            </div>
            <div class="container-img">
                <img src="/assets/images/mision.jpg" alt="mision">
            </div>
        </div>
    </div>

    <div class="container-section">
        <div class="container-vision-mision">
            <div class="container-img">
                <img src="/assets/images/vision.jpg" alt="vision">
            </div>
            <div class="container-text">
                <h3>Visión</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur sequi nam aperiam corporis cum quia excepturi aliquid, dolor ab iste atque aut blanditiis enim! Libero nam qui voluptates tempore.
                </p>
            </div>
        </div> 
    </div>

    
</div>
