



.container-about {
    background-image: url('/assets/about-unsa.jpg');

    background-color: rgba(0, 0, 0, 0.5); /* Cambia el último valor (0.5) para ajustar la opacidad del fondo oscuro */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 20px; /* Espacio interior */
}