
<app-header [headerMovil]="true"></app-header>



<div class="container-all-about">

<div >
    <div class="container-portada" [ngStyle]="{ 'background-image': 'url(assets/images/about-unsa.jpg)' }">

        <div class="capa-gradient">

            <div class="container-details">
                <div class="details">
                    <h1>¿Qué es la IEEE Computer Society?</h1>
                    <p>
                        Con la participación de ingenieros informáticos, científicos, académicos y profesionales de la industria de todas las áreas de la informática, la IEEE Computer Society (CS) establece el estándar para la educación y el compromiso que alimenta el continuo avance tecnológico mundial. A través de conferencias, publicaciones y programas, y reuniendo a los líderes de la informática y la ingeniería en cada fase de su carrera para el diálogo, el debate y la colaboración, IEEE CS faculta, da forma y guía el futuro no sólo de sus miembros, sino de la industria en general, permitiendo nuevas oportunidades para servir mejor a nuestro mundo.
                    <p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-section">
        <div class="container-vision-mision">
            <div class="container-text">
                <h3>Misión</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur sequi nam aperiam corporis cum quia excepturi aliquid, dolor ab iste atque aut blanditiis enim! Libero nam qui voluptates tempore.
                </p>
            </div>
            <div class="container-img">
                <img src="assets/images/mision.jpg" alt="mision">
            </div>
        </div>
    </div>

    <div class="container-section">
        <div class="container-vision-mision vision" >
            <div class="container-img">
                <img src="assets/images/vision.jpg" alt="vision">
            </div>
            <div class="container-text">
                <h3>Visión</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur sequi nam aperiam corporis cum quia excepturi aliquid, dolor ab iste atque aut blanditiis enim! Libero nam qui voluptates tempore.
                </p>
            </div>
        </div>
    </div>


    <div class="container-section">
        <div class="container-comunity" >
            <div class="text-comunity">
                <h3>Marcamos la pauta para el futuro</h3>
                <p>
                    Inspirando y conectando a profesionales de todas las áreas de la informática y de todos los niveles profesionales, IEEE CS guía el futuro de sus miembros y de la industria en general, permitiendo nuevas oportunidades tecnológicas para servir mejor a nuestro mundo.
                </p>
                <h3>Lideramos los desarrollos y avances en los campos de la informática y la ingeniería</h3>
                <p>
                    Durante más de 75 años, el IEEE CS y sus miembros han alimentado la comunidad de la informática y la tecnología, desarrollando profesionales líderes, impulsando la rápida evolución de las tecnologías y fomentando iniciativas basadas en la comunidad. Como organización, IEEE CS continuará sirviendo como líder en la identificación, apoyo y avance de las oportunidades tecnológicas que benefician a la humanidad.
                </p>
            </div>
            <div class="img-comunity">
                <img src="assets/images/image-comunity.png" alt="vision">
            </div>
        </div>
    </div>

</div>
