

<app-redes  *ngIf="redesVisible" #miRedesComponent
  class="container-fluid z-3 mt-4 d-flex justify-content-center position-absolute"
>
</app-redes>


<div id="main-header" [ngClass]="{'fixed-top': fixedTop, 'mt-7':scrolled}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-header">
            <a class="navbar-brand" href="#">
               <img src="assets/images/IEEE-CS_IEEE-UNSA-white.png" alt="logo" class="img-fluid">
            </a>
      <a class="navbar-brand" href="#">
               <img src="assets/images/lettersintitu.png" alt="logoletters" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-3" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-3 mx-3" routerLink="/nosotros">¿Quienes Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-3 mx-3" routerLink="/eventos">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-3 mx-3" routerLink="/equipo">Equipo</a>
                    </li>
                </ul>
            </div>
    </nav>
   </div>


