
  <app-header [headerMovil]="true"></app-header>

<div id="directiva" class="container mt-5">
  <h1 class="text-center font-monospace comites">Directiva</h1>
</div>

<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

  <app-card
    name="Valentina Milagros Chambilla Perca"
    imageSrc="assets/images/Chair-ValentinaChambilla.jpg"
    description="Estudiante de Séptimo Ciclo de la Carrera Profesional de Ingeniería de Sistemas en
      la Universidad Nacional de San Agustín de Arequipa. Es una estudiante entusiasta en el campo de
      IoT y uso de Tecnologías en la Nube."
    cargo="Chair"
  ></app-card>

  <app-card
    name="Rodrigo Alejandro Véliz Saihua"
    imageSrc="assets/images/ViceChair-RodrigoVéliz.jpg"
    description="Estudiante de Séptimo Ciclo de la Carrera Profesional de Ingeniería de Sistemas en
      la Universidad Nacional de San Agustín de Arequipa. Es una estudiante bastante centrado en el campo
      de Desarrollo Web, con experiencia freelancer en el campo de Desarrollo Web FrontEnd y FullStack."
    cargo="ViceChair"
  ></app-card>

<app-card
  name="Frank's Javier Vilca Quispe"
  imageSrc="assets/images/Treasurer-FranksVilca.jpg"
  description="Estudiante de Séptimo Ciclo de la Carrera Profesional de Ingeniería de Sistemas en la
    Universidad Nacional de San Agustín de Arequipa. Es una estudiante bastante centrado en el campo de
    Desarrollo Web y de Tecnologías de Despliegue y Servicios en la Nube. Estudiante que se centra actualmente
    en su capacitación AWS y en demás campos tecnológicos."
  cargo="Treasurer"
></app-card>

</div>


<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

  <app-card
    name="Antony Jacob Blanco Trujillo"
    imageSrc="assets/images/Secretary-AntonyBlanco.png"
    description="Estudiante de Séptimo Ciclo de la Carrera Profesional de
      Ingeniería de Sistemas en la Universidad Nacional de San Agustín de Arequipa.
      Es un estudiante con gran interés por los diversos campos, pero con mayor experiencia
      en el campo de Redes y de Despliegue de Páginas Web en Desarrollo BackEnd. Actual integrante
      del Centro de Investigación CiTeSoft de la UNSA."
    cargo="Secretary"
  ></app-card>

  <app-card
    name="Christian Raúl Mestas Zegarra"
    imageSrc="assets/images/Webmaster-ChristianMestas.jpg"
    description="Estudiante de Tercer Ciclo de la Carrera Profesional de Ingeniería de Sistemas en la
      Universidad Nacional de San Agustín de Arequipa. Es un estudiante con un gran interés por Desarrollo
      BackEnd en Páginas Web y en Desarrollo de Videojuegos. Actual integrante del Centro de Investigación
      CiTeSoft de la UNSA."
    cargo="Web Master"
  ></app-card>

</div>
<div class="container">
  <h1 class="text-center font-monospace comites">Comités de Trabajo</h1>
</div>


<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

  <app-card
    name=""
    imageSrc="assets/images/LiderComite.jpg"
    description="Planificación y ejecución de eventos como charlas, conferencias y talleres.
      Facilitación de oportunidades de desarrollo profesional y sesiones de mentoría."
    cargo="Comité de Organización de Eventos y Desarrollo Profesional"
  ></app-card>

  <app-card
    name=""
    imageSrc="assets/images/LiderComite.jpg"
    description="Liderazgo en proyectos tecnológicos y hackatones.
      Colaboración en actividades prácticas para aplicar habilidades técnicas."
    cargo="Comité de Proyectos y Tecnología"
  ></app-card>

</div>

<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

  <app-card
    name=""
    imageSrc="assets/images/LiderComite.jpg"
    description="Gestión de la comunicación interna y externa del capítulo.
      Administración de redes sociales, sitio web y envío de boletines.
      Actividades de reclutamiento y orientación para nuevos miembros."
    cargo="Comité de Comunicaciones y Membresía"
  ></app-card>
  <app-card
    name=""
    imageSrc="assets/images/LiderComite.jpg"
    description="Gestión del presupuesto del capítulo y búsqueda de patrocinadores.
      Organización de actividades de responsabilidad social y proyectos de voluntariado."
    cargo="Comité de Finanzas y Responsabilidad Social"
  ></app-card>

</div>
