
  <app-header [headerMovil]="false"></app-header>

<div id="directiva" class="container">
  <h1 class="text-center font-monospace comites">Directiva</h1>
</div>

<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

  <div class="card m-5">

    <div class="image-container position-relative">
      <img class="card-img-top img-fluid rounded-circle hover-image" src="./assets/images/Chair-ValentinaChambilla.jpg" alt="Card image cap">
    </div>

      <div class="container text-overlay text-center rounded-5">
        Estudiante de Séptimo Ciclo de la Carrera Profesional de Ingeniería de Sistemas en la
        Universidad Nacional de San Agustín de Arequipa. Es una estudiante entusiasta en el campo
        de IoT y uso de Tecnologías en la Nube.
      </div>
    <div class="card-body">
      <h5 class="card-title">Chair</h5>
      <p class="card-text "><small class="text-muted">Valentina Milagros Chambilla Perca</small></p>
    </div>

  </div>
  <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle hover-image" src="./assets/images/ViceChair-RodrigoVéliz.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ViceChair</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/Secretary-AntonyBlanco.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Secretary</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

</div>



<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

  <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/Treasurer-FranksVilca.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Treasurer</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/Webmaster-ChristianMestas.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Webmaster</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>
<div class="container">
  <h1 class="text-center font-monospace comites">Comités de Trabajo</h1>
</div>


<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

    <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/LiderComite.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comité de Organización de Eventos y Desarrollo Profesional</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/LiderComite.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comité de Proyectos y Tecnología</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>

<div class="container-sm mt-5 d-flex justify-content-center flex-wrap">

<div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/LiderComite.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comité de Comunicaciones y Membresía</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-5">
    <img class="card-img-top img-fluid rounded-circle" src="./assets/images/LiderComite.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comité de Finanzas y Responsabilidad Social</h5>
      <p class="card-text "><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>




