.contenedor{

  width: 100%;
  margin: 0 auto;
}

.carousel{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 5%;
}
.contenedor p{
  font-size: 30px;
  text-align: center;
}

.calendar{
  width: 80%;
  margin: 0 auto;

}

@media screen and (max-width: 760px) {

  .carousel{
    width: 80%;

  }
  .contenedor p{
    font-size: 20px;
  }
  .calendar{
    width: 98%;
  }

}



