
.contenedor{

  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.contenedor h1{
  text-align: center;
  margin: 20px 0;
}
.evento-button {
  width: 30%;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #FFA300;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.evento-button:hover {
  background-color: #009CA6;
}

.card{
  width: 30%;
  box-shadow: 5px 5px 20px black;
  margin: 20px;
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
}
.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 100%;
  margin-top: 0.1%;
}
.card:hover p{
  visibility: visible;
  opacity: 1;
}
.subcomite{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 88%;
  margin: 0 auto;
}
.intro{
  height: 100%;
  width: 100%;
  margin-top: 75%;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27,27,27,.5);
  color: white;
  padding: 20px;
}

.intro p{
  visibility: hidden;
  opacity: 0;
}
.intro h3{
  text-align: center;

}
.carousel-evento{
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {

  .card {
    width: 75%;
  }
  .evento-button{
    width: 90%;
    font-size: 35px;
  }
  .carousel-evento{
    width: 90%;
    height: 25%;
  }
  .subcomite{
    width: 100%;
  }
}



