
<div class="contenedor">
  <app-carousel [slides]="carouselSlides"></app-carousel>
  <h1>ULTIMOS EVENTOS REALIZADOS</h1>
  <div class="carousel-evento">
    <app-carousel [slides]="carouselSlides2" carouselId="carouselExampleInterval2"></app-carousel>
  </div>

  <button class="evento-button">
    Conoce nuestros proximos eventos
  </button>
  <h1>NUESTROS SUBCOMITES</h1>
  <div class="subcomite">
    <div class="card">
      <img src="assets/images/imagen3.jpg">
      <div class="intro">
        <h5>Subcomite 1</h5>
        <p>Descripcion</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/imagen3.jpg">
      <div class="intro">
        <h5>Subcomite 1</h5>
        <p>Descripcion</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/imagen3.jpg">
      <div class="intro">
        <h5>Subcomite 1</h5>
        <p>Descripcion</p>
      </div>
    </div>
  </div>
</div>



