<div class="container-fluid position-absolute z-3 mt-4 ">
  <app-redes></app-redes>
</div>

<app-header [fixedTop]="true"></app-header>

<div class="contenedor">
  <div class="carousel-main">
    <app-carousel [slides]="carouselSlides" carouselHeight="48vw" brillo="60%"></app-carousel>
  </div>
  <h1>ULTIMOS EVENTOS REALIZADOS</h1>
  <div class="carousel-evento">
    <app-carousel [slides]="carouselSlides2" carouselId="carouselExampleInterval2" carouselHeight="35vw" brillo="60%"></app-carousel>
  </div>

  <button class="evento-button" routerLink="/eventos">
    Conoce nuestros proximos eventos
  </button>
  <h1>NUESTROS SUBCOMITES</h1>
  <div class="subcomite">
    <div class="card">
      <img src="assets/images/CIS_logo.webp">
      <div class="intro">
        <h3>Subcomite 1</h3>
        <p>Descripcion</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/PES_LOGO.jpeg">
      <div class="intro">
        <h3>Subcomite 1</h3>
        <p>Descripcion</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/imagen3.jpg">
      <div class="intro">
        <h3>Subcomite 1</h3>
        <p>Descripcion</p>
      </div>
    </div>
  </div>
</div>



