:host{
  display: block;
  position: absolute;
  z-index: 999;
}
.nav .nav-link {
    color: #0b0707;
    background-color: #ffd000;
    transition: background-color 0.9s, color 0.3s;
}

.nav .nav-link:hover {
    background-color: #ffa300;
}
