.dsc-carousel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.48);
  }
  &_content{
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;
    &-item{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &_content{
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 1s all ease-in;
        h1{
          color: white;
          font-weight: 900;
          text-transform: uppercase;
          z-index: 1;
          span{
            color: #FF8000;
          }
        }
        P{
          z-index: 1;
          color: white;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
  &_btns{
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    > i {
      opacity: 0.7;
      color: white;
      font-size: 45px;
      cursor: pointer;
      justify-content: space-between;
    }
  }
  &_steps{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    &-step{
      height: 8px;
      width: 25px;
      margin: 0 5px;
      border-radius: 5px;
      border: 1px solid rgba(255,255,255,0.7);
      cursor: pointer;
      transition: 0.75s all ease-in;
      &:hover, &-active{
        opacity: 0.7;
        background: white;
      }
    }
  }
}
