<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" #carousel>
  <div class="carousel-indicators">
    <button *ngFor="let slide of slides; let i = index" type="button"
    data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i"
    [class.active]="i === currentIndex" aria-current="true" [attr.aria-label]="'Slide ' + (i+1)"
    (click)="goToSlide(i)"></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
      <img [src]="slide.image" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ slide.title }}</h1>
        <h1>{{ slide.description }}</h1>
      </div>
    </div>
  </div>

</div>
