
<footer>
    <div class="about-area">
        <div class="row">

            <div class="about">
                <div class="footer-logo">
                    <img src="/assets/images/IEEE-CS_IEEE-UNSA-white.png" alt="logo" class="img-fluid">
                </div>
                <div class="about-text">
                    <p>
                        Albion online es un mmorpg no lineal, en el que escribes tu propia historia sin limitarte a seguir un camino prefijado, explora un amplio mundo abierto con 5 biomas únicos, todo cuanto hagas tendrá su repercusión en el mundo, con la economía orientada al jugador de Albión, los jugadores crean prácticamente todo el equipo a partir de los recursos que consiguen, el equipo que llevas define quien eres, cambia de arma y armadura para pasar de caballero a mago, o juega como una mezcla de ambas clases...
                    </p>
                </div>
            </div>

            <div class="link-join" >
                <div class="link">
                    <div class="link-text">
                        <h3>
                            <span class="subrayado">Quick links</span>
                        </h3>
                    </div>
                    <div class="list-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Benefits</a></li>
                        <li><a href="#">Latest News</a></li>
                    </div>
                </div>
                <div class="join">
                    <div class="join-text">
                        <h3>
                            <span class="subrayado">Más información</span>
                        </h3>
                    </div>
                    <div class="join-description">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                    <div class="join-form">
                        <form action="#">
                            <input type="text" placeholder="Email Address">
                            <button><i class="enviar"></i>Enviar</button>
                        </form>
                    </div>
                </div>   
            </div>
            
        </div>
    </div>

    <div class="copyright-area">

        <div class="copyright-text">
            <p>Copyright © 2024, All Right Reserved <a href="#">byGoku</a></p>
        </div>

        <div class="social-networks">
            <ul class="social-icons">
                <li><a class="facebook" href="#">Facebook</a></li>
                <li><a class="twitter" href="#">Twiter</a></li>
                <li><a class="dribbble" href="#">Linkedin</a></li>
                <li><a class="linkedin" href="#">Gmail</a></li>   
            </ul>
        </div>

    </div>

</footer>
