
<footer>

    <div class="container-footer">

        <div class="container-above">

            <div class="container-description">
                <img src="assets/images/IEEE-CS_IEEE-UNSA-white.png" alt="logo" id="logo">
                <p>Estándares y liderazgo en educación para el avance tecnológico global, reuniendo a líderes para el diálogo y la colaboración en todas las áreas de la informática e ingeniería.</p>
            </div>

            <div class="container-links">
                <h3>Enlaces</h3>

                <ul>
                    <li>
                        <a routerLink="/">Inicio</a>
                    </li>
                    <li>
                        <a routerLink="/nosotros">¿Quiénes somos?</a>
                    </li>
                    <li>
                        <a routerLink="/eventos">Eventos</a>
                    </li>
                    <li>
                        <a routerLink="/equipo">Equipo</a>
                    </li>
                </ul>
            </div>

            <div class="container-correo">
                <h3>Más información</h3>
                <p>Si te gustaría ser parte de la IEEE, por favor ingresa tu nombre</p>
                <form>
                    <input #nombreInput type="text" placeholder="Nombre" required>
                    <button (click)="enviarMensaje(nombreInput.value)">Enviar</button>
                </form>

            </div>

        </div>

        <div class="container-below">
            <div class="container-copyright">
                <p>Copyright © 2024, Todos los derechos reservados <a href="#">ByGoku</a></p>
            </div>
            <div class="container-redes">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Botones con iconos -->
                            <a class="btn btn-primary" href="https://www.facebook.com/profile.php?id=61553552039655" target="_blank">
                                <i class="bi bi-facebook" ></i>
                            </a>
                            <a class="btn btn-success" href="mailto:correo_ieee_cs@unsa.com?subject=Asunto&body=Cuerpo%20del%20mensaje" target="_blank">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                            <a class="btn btn-info" href="#" target="_blank">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</footer>
