
<footer>
    <div class="about-area">
        <div class="row">

            <div class="about">
                <div class="footer-logo">
                    <img src="/assets/images/IEEE-CS_IEEE-UNSA-white.png" alt="logo" class="img-fluid">
                </div>
                <div class="about-text">
                    <p>
                        Albion online es un mmorpg no lineal, en el que escribes tu propia historia sin limitarte a seguir un camino prefijado, explora un amplio mundo abierto con 5 biomas únicos, todo cuanto hagas tendrá su repercusión en el mundo, con la economía orientada al jugador de Albión, los jugadores crean prácticamente todo el equipo a partir de los recursos que consiguen, el equipo que llevas define quien eres, cambia de arma y armadura para pasar de caballero a mago, o juega como una mezcla de ambas clases...
                    </p>
                </div>
            </div>

            <div class="link-join" >
                <div class="link">
                    <div class="link-text">
                        <h3>Quick links</h3>
                    </div>
                    <div class="list-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Expert Team</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Latest News</a></li>
                    </div>
                </div>
                <div class="join">
                    <div class="join-text">
                        <h3>Más información</h3>
                    </div>
                    <div class="join-description">
                        <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                    </div>
                    <div class="join-form">
                        <form action="#">
                            <input type="text" placeholder="Email Address">
                            <button><i class="whatsapp-link"></i></button>
                        </form>
                    </div>
                </div>   
            </div>
            
        </div>
    </div>

    <div class="copyright-area">

        <div class="copyright-text">
            <p>Copyright © 2024, All Right Reserved <a href="#">byGoku</a></p>
        </div>

        <div class="social-networks">
            <ul class="social-icons">
                <li><a class="facebook" href="#">Q<i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#">Q<i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#">Q<i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#">Q<i class="fa fa-linkedin"></i></a></li>   
            </ul>
        </div>

    </div>

</footer>
