footer {
  background-color: rgba(255,163,0, 0.75);
  color: #664100;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;

}
  
.container-footer {
  margin-top: 20px;
  width: 85%;
}

.container-above {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-below {
  /*background-color: #996100;*/
  display: flex;
  justify-content: space-between;
}

/*Titulos*/

h3 {
  margin-top: 10px;
  margin-bottom: 25px; 
  position: relative;
  display: inline-block;
}

h3::before {
  position: absolute;
  background-color: #a36800;
  width: 55%;
  height: 4px;
  bottom: -8px;
  content: "";
}

p {
  line-height: 1.5;
}

a {
  color: #664100;
}

/*LOGO*/    

#logo {
  max-width: 250px;
  margin-bottom: 10px;
}

.container-description {
  max-width: 365px;
}



/*LINKS*/

.container-links {
  margin-left: 50px;
  margin-right: 50px;
}

.container-links ul {
  list-style-type: none;
  padding: 0;
  
}

.container-links li {
  padding-bottom: 5px;
}


.container-links a {
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.container-links a:hover {
  color: #a36800;
  text-decoration: underline; 
}

/*CORREO*/

.container-correo {
  max-width: 290px;
}

.container-correo input {
  padding: 8px; 
  margin-right: 7px;
}


.container-correo button {
  padding: 8px 16px;
  background-color: #ffffff9c; 
  color: #030000; 
  border: none; 
  cursor: pointer; 
}

.container-correo button:hover {
  background-color: #a36800; 
  color: white;
}

/*COPYRIGHT*/

.container-copyright {
  padding-top: 8px;
}

.container-copyright a {
  text-decoration: none;
}
.container-copyright a:hover {
  font-weight: bold;
}


/*ICONOS*/

.btn {
  border-radius: 50%;
  margin-left: 8px;
}



/*ESTADO DE CONTENEDORES EN MENOS TAMAÑO*/ 
@media screen and (max-width: 1050px) {
  .container-footer {
    max-width: 80%;
  }

  .container-description {
      max-width: 100%;
  }

  .container-links {
    margin-left: 0;
    margin-right: 100px;
  }

  #logo {
    max-width: 210px;
  }

  h3 {
    margin-top: 0;
  }
}


@media screen and (max-width: 750px) {
  .container-footer {
    width: 100%;
  }

  .container-redes {
    display: none;
  }
}